<html lang="en" ng-app="DatvietApp" id="top">
  <head>
    <title>AngularUI Dashboard for Datviet</title>

    <!-- CSS Files -->
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css" />
    <link type="text/css" rel="stylesheet" href="bower_components/ng-table/dist/ng-table.min.css" rel="stylesheet" />
    <link type="text/css" rel="stylesheet" href="" rel="stylesheet" />

    <!-- JS Files -->
    <script src="http://cdnapi.kaltura.com/p/1988382/sp/198838200/embedIframeJs/uiconf_id/30743062/partner_id/1988382"></script>
    <script type="text/javascript" src="/bower_components/angular/angular.min.js"></script>
    <script type="text/javascript" src="/kaltura/ox.ajast.js"></script>
    <script type="text/javascript" src="/kaltura/webtoolkit.md5.js"></script>
    <script type="text/javascript" src="/kaltura/KalturaClientBase.js"></script>
    <script type="text/javascript" src="/kaltura/KalturaTypes.js"></script>
    <script type="text/javascript" src="/kaltura/KalturaVO.js"></script>
    <script type="text/javascript" src="/kaltura/KalturaServices.js"></script>
    <script type="text/javascript" src="/kaltura/KalturaClient.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap.min.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
    <script type="text/javascript" src="/dashboard/dashboard_list.js"></script>
    <script type="text/javascript" src="bower_components/ng-table/dist/ng-table.min.js"></script>
  </head>
  <body>
    <div class='headingfont'> Dashboard for Datviet Coming soon...</div>
  </body>
</html>