// Place all the styles related to the dashboard controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

table, th, td {
   border: 1px solid black;
}

.margin25{
	margin: 25px;
}

.aligncenter{
	text-align: center;
}

.headingfont {
	font-size: 28px;
}

.thumbnail{
	margin: 5px;
}